<!-- トップページ -->
<% if logged_in? %>
<!-- ログインユーザのTask一覧 -->
<ul>
    <% @tasks.each do |task| %>
    <!-- if文で作成-->
    <!-- ユーザのタスクだった場合リンク -->
        <% if current_user == task.user %>
            <li><%= link_to task.id, task %> : <%= task.status %> &gt; <%= task.content %></li>
        <!-- ユーザのタスクじゃない場合文字 -->
        <% else %>
            <li><%= task.id %>: <%= task.status %> &gt; <%= task.content %></li>
        <% end %>
    
    <% end %>
</ul>
<%= link_to '新規タスク',new_task_path %>



<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Task-Board</h1>
      <%= link_to 'アカウント作成', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>