<% if logged_in? %>
<h1>ログイン中</h1>
<h2><%= current_user.name %>のTask一覧</h2>
<!-- ログインユーザのTask一覧 -->

<ul>
    <% @tasks.each do |task| %>
        <li><%= link_to task.id, task %> : <%= task.status %> &gt; <%= task.content %></li>
    <% end %>
</ul>

<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Task-Board</h1>
      <%= link_to 'アカウント作成', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>